body {
	font-family: sans-serif;
}

h2 {
	font-size: 14pt;
	color: white;
	background-color: green;
}

#term {
	font-weight: bold;
}

#bt,#nt,#rt,#us,#uf {
	font-style: italic;
}

#sn {
	font-style: italic;
}